.TodoListStyle {
    background-color: #fff;
}

ul{
    padding: 15px;
    width: 200px;
}

li {
    text-transform: uppercase;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

button {
    border: none;
    background-color: #ff0000;
}